Repository pyiron/pyiron_contrib, pull requests merged in 2023-08, with the labels that each got.

#698 Make LAMMPS potential algebraic
  pyiron_contrib/atomistics/lammps/potentials.py
  tests/unit/atomistics/lammps/test_potentials.py
Labels: enhancement, format_black

#778 Return output when calling `run`
  notebooks/workflow_example.ipynb
  pyiron_contrib/workflow/composite.py
  pyiron_contrib/workflow/function.py
  pyiron_contrib/workflow/node.py
  pyiron_contrib/workflow/workflow.py
  tests/unit/workflow/test_function.py
  tests/unit/workflow/test_workflow.py
Labels: .workflow

#777 Clean executor fails
  notebooks/workflow_example.ipynb
  pyiron_contrib/workflow/composite.py
  pyiron_contrib/workflow/function.py
  pyiron_contrib/workflow/node.py
  pyiron_contrib/workflow/workflow.py
  tests/unit/workflow/test_function.py
  tests/unit/workflow/test_workflow.py
Labels: .workflow

#769 Node input as args
  notebooks/workflow_example.ipynb
  pyiron_contrib/workflow/composite.py
  pyiron_contrib/workflow/function.py
  pyiron_contrib/workflow/node.py
  pyiron_contrib/workflow/workflow.py
  tests/unit/workflow/test_function.py
  tests/unit/workflow/test_workflow.py
Labels: .workflow

#770 Parse output labels automatically
  .binder/environment.yml
  .ci_support/environment.yml
  docs/environment.yml
  notebooks/workflow_example.ipynb
  pyiron_contrib/workflow/composite.py
  pyiron_contrib/workflow/function.py
  pyiron_contrib/workflow/node.py
  pyiron_contrib/workflow/node_library/atomistics.py
  pyiron_contrib/workflow/node_library/standard.py
  pyiron_contrib/workflow/output_parser.py
  pyiron_contrib/workflow/workflow.py
  setup.py
  tests/integration/test_workflow.py
  tests/unit/workflow/test_function.py
  tests/unit/workflow/test_node_package.py
  tests/unit/workflow/test_output_parser.py
  tests/unit/workflow/test_workflow.py
Labels: format_black, .workflow

#805 Better workflow representation
  .binder/environment.yml
  .ci_support/environment.yml
  docs/environment.yml
  pyiron_contrib/workflow/composite.py
  pyiron_contrib/workflow/has_to_dict.py
  pyiron_contrib/workflow/io.py
  pyiron_contrib/workflow/node.py
  setup.py
Labels: format_black, .workflow

#786 Drawing the workflow with graphviz
  .binder/environment.yml
  .ci_support/environment.yml
  docs/environment.yml
  notebooks/workflow_example.ipynb
  pyiron_contrib/workflow/composite.py
  pyiron_contrib/workflow/draw.py
  pyiron_contrib/workflow/function.py
  pyiron_contrib/workflow/node.py
  pyiron_contrib/workflow/util.py
  pyiron_contrib/workflow/workflow.py
  setup.py
Labels: format_black, .workflow

#815 Upstream-most context
  notebooks/workflow_example.ipynb
  pyiron_contrib/workflow/composite.py
  pyiron_contrib/workflow/io.py
  tests/unit/workflow/test_io.py
  tests/unit/workflow/test_macro.py
Labels: format_black, .workflow

#816 `create` instead of `add`
  notebooks/workflow_example.ipynb
  pyiron_contrib/workflow/composite.py
  pyiron_contrib/workflow/interfaces.py
  pyiron_contrib/workflow/macro.py
  pyiron_contrib/workflow/node_package.py
  pyiron_contrib/workflow/workflow.py
  tests/unit/workflow/test_node_package.py
  tests/unit/workflow/test_workflow.py
Labels: format_black, .workflow

#818 Io automatic naming
  notebooks/workflow_example.ipynb
  pyiron_contrib/workflow/composite.py
  pyiron_contrib/workflow/macro.py
  pyiron_contrib/workflow/workflow.py
  tests/unit/workflow/test_macro.py
  tests/unit/workflow/test_workflow.py
Labels: .workflow

#819 [minor] Hotfix docs and tests
  notebooks/workflow_example.ipynb
  tests/unit/workflow/test_macro.py
Labels: .workflow

#820 [minor] Fewer warnings
  notebooks/workflow_example.ipynb
  pyiron_contrib/workflow/composite.py
  pyiron_contrib/workflow/io.py
  pyiron_contrib/workflow/util.py
Labels: .workflow

#821 [minor] Hotfix unused kwargs test
  tests/unit/workflow/test_function.py
Labels: .workflow

#716 Workflow: Introduce meta nodes
  notebooks/workflow_example.ipynb
  pyiron_contrib/workflow/interfaces.py
  pyiron_contrib/workflow/io.py
  pyiron_contrib/workflow/meta.py
  pyiron_contrib/workflow/node_library/standard.py
  tests/integration/test_workflow.py
Labels: format_black, .workflow
