Repository pyiron/pyiron_contrib, pull requests merged in 2023-07, with the labels that each got.

#760 Introduce running on an executor
  pyiron_contrib/workflow/composite.py
  pyiron_contrib/workflow/node.py
  tests/unit/workflow/test_workflow.py
Labels: .workflow

#729 New class hierarchy and better readiness checking
  notebooks/workflow_example.ipynb
  pyiron_contrib/workflow/channels.py
  pyiron_contrib/workflow/composite.py
  pyiron_contrib/workflow/function.py
  pyiron_contrib/workflow/has_nodes.py
  pyiron_contrib/workflow/is_nodal.py
  pyiron_contrib/workflow/node.py
  pyiron_contrib/workflow/node_library/atomistics.py
  pyiron_contrib/workflow/node_library/package.py
  pyiron_contrib/workflow/node_library/standard.py
  pyiron_contrib/workflow/workflow.py
  tests/integration/test_workflow.py
  tests/unit/workflow/test_channels.py
  tests/unit/workflow/test_function.py
  tests/unit/workflow/test_node_package.py
  tests/unit/workflow/test_workflow.py
Labels: format_black, .workflow

#768 Make the dot dict contents show up in tab completion
  pyiron_contrib/workflow/util.py
Labels: .workflow

#776 Hotfix: represeting NotData
  pyiron_contrib/workflow/channels.py
  tests/unit/workflow/test_function.py
Labels: .workflow

#794 Add LAMMPS specific (super quick) drag method
  pyiron_contrib/atomistics/lammps/__init__.py
  pyiron_contrib/atomistics/lammps/drag.py
  tests/unit/atomistics/lammps/__init__.py
  tests/unit/atomistics/lammps/test_drag.py
Labels: enhancement, format_black
