Repository pyiron/pyiron_contrib, pull requests merged in 2023-09, with the labels that each got.

#790 Use alternative for get_schedaffinity
  pyiron_contrib/tinybase/creator.py
Labels: bug, format_black, .tinybase

#840 Simplest dag automation
  .binder/environment.yml
  .ci_support/environment.yml
  docs/environment.yml
  notebooks/workflow_example.ipynb
  pyiron_contrib/workflow/channels.py
  pyiron_contrib/workflow/composite.py
  pyiron_contrib/workflow/function.py
  pyiron_contrib/workflow/macro.py
  pyiron_contrib/workflow/meta.py
  pyiron_contrib/workflow/node.py
  pyiron_contrib/workflow/workflow.py
  setup.py
  tests/integration/test_workflow.py
  tests/unit/workflow/test_macro.py
  tests/unit/workflow/test_workflow.py
Labels: format_black, .workflow

#839 Return connection pairs on disconnection
  .binder/environment.yml
  .ci_support/environment.yml
  docs/environment.yml
  notebooks/workflow_example.ipynb
  pyiron_contrib/workflow/channels.py
  pyiron_contrib/workflow/composite.py
  pyiron_contrib/workflow/function.py
  pyiron_contrib/workflow/io.py
  pyiron_contrib/workflow/macro.py
  pyiron_contrib/workflow/meta.py
  pyiron_contrib/workflow/node.py
  pyiron_contrib/workflow/workflow.py
  setup.py
  tests/integration/test_workflow.py
  tests/unit/workflow/test_channels.py
  tests/unit/workflow/test_function.py
  tests/unit/workflow/test_io.py
  tests/unit/workflow/test_macro.py
  tests/unit/workflow/test_workflow.py
Labels: .workflow

#838 No pushing
  .binder/environment.yml
  .ci_support/environment.yml
  docs/environment.yml
  notebooks/workflow_example.ipynb
  pyiron_contrib/workflow/channels.py
  pyiron_contrib/workflow/composite.py
  pyiron_contrib/workflow/function.py
  pyiron_contrib/workflow/interfaces.py
  pyiron_contrib/workflow/io.py
  pyiron_contrib/workflow/macro.py
  pyiron_contrib/workflow/meta.py
  pyiron_contrib/workflow/node.py
  pyiron_contrib/workflow/node_library/atomistics.py
  pyiron_contrib/workflow/workflow.py
  setup.py
  tests/integration/test_integration.py
  tests/integration/test_workflow.py
  tests/unit/workflow/test_channels.py
  tests/unit/workflow/test_function.py
  tests/unit/workflow/test_io.py
  tests/unit/workflow/test_macro.py
  tests/unit/workflow/test_node_package.py
  tests/unit/workflow/test_workflow.py
Labels: format_black, .workflow

#837 Signals syntactic sugar
  .binder/environment.yml
  .ci_support/environment.yml
  docs/environment.yml
  notebooks/workflow_example.ipynb
  pyiron_contrib/workflow/channels.py
  pyiron_contrib/workflow/composite.py
  pyiron_contrib/workflow/function.py
  pyiron_contrib/workflow/interfaces.py
  pyiron_contrib/workflow/io.py
  pyiron_contrib/workflow/macro.py
  pyiron_contrib/workflow/meta.py
  pyiron_contrib/workflow/node.py
  pyiron_contrib/workflow/node_library/atomistics.py
  pyiron_contrib/workflow/workflow.py
  setup.py
  tests/integration/test_integration.py
  tests/integration/test_workflow.py
  tests/unit/workflow/test_channels.py
  tests/unit/workflow/test_function.py
  tests/unit/workflow/test_io.py
  tests/unit/workflow/test_macro.py
  tests/unit/workflow/test_node_package.py
  tests/unit/workflow/test_workflow.py
Labels: format_black, .workflow

#850 [minor] Expose `Composite.disconnect_run` publicly
  pyiron_contrib/workflow/composite.py
  pyiron_contrib/workflow/macro.py
Labels: .workflow

#857 unify to max iter
  pyiron_contrib/atomistics/atomicrex/general_input.py
  pyiron_contrib/atomistics/ml/potentialfit.py
  pyiron_contrib/atomistics/mlip/mlip.py
Labels: format_black

#738 Tinybase: Rework storage interface
  notebooks/tinybase/ASE.ipynb
  notebooks/tinybase/Basic.ipynb
  notebooks/tinybase/Lammps.ipynb
  notebooks/tinybase/Shell.ipynb
  notebooks/tinybase/TinyJob.ipynb
  pyiron_contrib/tinybase/ase.py
  pyiron_contrib/tinybase/creator.py
  pyiron_contrib/tinybase/job.py
  pyiron_contrib/tinybase/storage.py
  pyiron_contrib/tinybase/task.py
Labels: enhancement, format_black
